{% extends 'base.html' %}

{% block nav %}

<h1> Please enter your name: </h1>

{% endblock %}

{% block content %}

<div id="input">
  <form method="post">
   <input name="input-username" id="input-username">
 </form>
</div>
{% endblock %}
