{% extends 'base.html' %}

{% block nav %}

<h1>  Hello {{ session['username'] }}, please type the pair:
      <b class="pair-display"> {{ g['displayPair'] }} </b> </h1>

{% endblock %}

{% block content %}
<div id="data" style="display: none;">
  <div id="data-pair"> {{g['pair']}} </div>
  <div id="data-max-counter"> {{g['counter']}} </div>
</div>

<div id="input">
  <form method="post">
   <input name="input-pair" id="input-pair">
 </form>
</div>

<div> Remaining pairs : <b><div id="counter"> {{ g['counter'] }}</div></b> 

{% endblock %}
